<template name="setPseudo">
	<div class="container vh-100">
	    <h2 class="text-center pt-10 m-0" style="padding-top:30px!important; height:100px; min-height: 100px; max-height: 100px;" >Film Interactif Agile</h2>
		{{ > pseudo }}
	</div>
</template>

<!-- Login template-->
<template name="pseudo">
	<div class="d-flex col text-center">
		<div class="row h-100 w-100" style="height: calc(100vh - 100px)!important">
			<div class="m-auto overflow-auto mh-100">
				<form class="pseudo">
					<input style="width: 300px; height: 50px; margin-bottom: 70px;" class="b-0 text-box" type="text" name="text" placeholder="Entrer votre nom">
					<div class="text-center box-1">
						<button style="width: 300px; height: 50px; " class="btn-classic btn-one">
							<span>Jouer !</span>
						</button>
					 </div>
				</form>
			</div>
		</div>
	</div>
</template>

