
:root {
  --main-color: rgb(0,123,255);
  --main-color-min: rgb(0,123,255,0.5);
}
#__blaze-root{
    height: 100vh;
}

.hand:hover{
    cursor: pointer;
}


/* --- Setup Color bootstrap --- */
.bg-g{
    background-color: #18181b;
}
.bg-ll-g{
    background-color: #303032;
}
.bg-l-g{
    background-color: #3a3a3d;
}
.border-bottom-gray{
    border-bottom: 3px solid #303032;
}


/* --- CHAT ---*/
.chat {
    border-left: 3px solid #303032;
    width: 340px;
    display: flex;
}
.chat-button{
    background-color: rgba(0,0,0,0);
    color: rgba(200,200,200,1);
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
}
.chat-button:hover{
    background-color: rgba(255,255,255,0.5)
}
.user-button{
    right: 10px;
    top: 10px;
}
.hide-button{
    right: 300px;
    top: 10px;
}
.show-button{
    right: 10px;
    top: 10px;
}
@media screen and (max-width: 920px) {
  .chat {
    display: none !important;
  }
}

/*CSS animation timestamp
* Merci a Atua
*/
.msg {
  cursor: pointer;
}
.msg .time-hidden {
  font-size: 0.8em;
  height: 0px;
  overflow: hidden;
  transition-duration: 0.5s;
}
.msg.time-hidding .time-hidden {
  height: 1.3rem;
}

/**
 *    BUTTON DE CHOIX
 */
.player-avec-choix{
    height: calc(100vh - 55px);
}
.player-sans-choix{
    height: 100vh;
}

.button-container{
    bottom:0;
    margin: 0px;
    padding: 0px;
    height: 50px;
}


.button-border{
  border: 0px solid #fff;
  border-left: 3px solid #3a3a3d;
  height: 50px;
  padding:0% !important;
  margin:0%;
}

.button-choix{
    background-color: #18181b;
    height: 50px;
    width: 100%;
    padding:0% !important;
    margin:0%;
    border: 0px solid #fff;
    /*border-top: 3px solid #3a3a3d;*/
}

.button-choix:hover{
    background-color: #4F4F51;
}

.button-choix:active{
    background-color: #0E0E0F;
}

.button-selected{
    border-bottom: 3px solid var(--main-color);
    background-color: #0E0E0F;
}

body {
  padding: 0px;
  height: 100vh;
  font-family: sans-serif;
  color: #fff !important;
  background-image: URL("http://3.bp.blogspot.com/-OzmAeJs0K-Y/T4PlxVcsi7I/AAAAAAAABV4/osnKLjOmAoE/s1600/breathtaking-mountain-clear-sky-wallpaper.jpg");
  background-color: #18181b!important;
  background-size: cover;
}







/**
 *CSS Button join et créer un salon
  */

.div-center {
  width: 250px;
  height: 70px;
  top: calc(50% - 40px);
  left: calc(50% - 125px);
  position: absolute;
}

.btn-spin {
  width: 250px;
  height: 70px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--main-color);
  outline: none;
  transition: 1s ease-in-out;
}

.svg-spin {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 635;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-spin:hover {
  transition: 1s ease-in-out;
  background: var(--main-color-min);
}

.btn-spin:hover svg {
  stroke-dashoffset: -635;
}

.btn-spin span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}


/*
 * CSS button box choix du nom
 */
.btn-classic {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
}

.btn-one {
  background-color: rgba(0,0,0,0); 
	color: #FFF;
	transition: all 0.3s;
	position: relative;
  border-top: 0px solid var(--main-color);
  border-bottom: 0px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
}
.btn-one span {
  letter-spacing: 1px;
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: var(--main-color);
	border-bottom-color: var(--main-color);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	/*background-color: rgba(255,255,255,0.1);*/
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}
/**
 *CSS Text box choix du nom
 */
.text-box{
  font-size: 16px !important;
  display: cell;
  vertical-align: middle;
  letter-spacing: 2px;
  background-color: rgba(0,0,0,0.70) !important;
  border: 0px solid var(--main-color) !important;
  border-bottom: 1px solid var(--main-color) !important;
  color: rgb(220,220,220)!important;
}


/**
 *CSS Radio button choix
 */

.radio-button{
  width: 80px;
  height: 80px;
  display:inline-block;
  border: 1px solid var(--main-color);
}

.radio-button-selected{
    background: var(--main-color-min);
    color: rgba(0,0,0,0.5);
}





/**
 * Scrollbar
 */
/* own scrollbar */
html {
  /* scrollbar firefox */
scrollbar-color: var(--main-color) var(--main-color-min);
 }
/*
// Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. 
::-webkit-scrollbar {
  // width 
  width: 12px; }

::-webkit-scrollbar-track {
  // Track 
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px; }

::-webkit-scrollbar-thumb {
  // Handle 
  background: #6e6e6e;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  // Handle on hover 
  background: #6e6e6e; }

::-webkit-scrollbar-track-piece {
  // not handle on 
  background: #010101; }

body {
  background-color: #141414; }

p, h1 {
  color: whitesmoke; }*/



























