<head>
	<title>chat</title>
	
</head>

<body class="p-0">
	{{> messages}}
</body>

<template name="messages">
	<h2>Message :</h2>
	<ul>
		{{#each messages}}
			{{> message}}	
		{{/each}}
	</ul>
</template>


<template name="message">
	<li>
		{{message}}
	</li>
</template>
