<template name="mainLayout">
	<header>
		<!--<h1></h1>>
  {{ > loginButtons }}  -->
	</header>
	
	<main style="background-color: rgba(0,0,0,0.5) !important;">
		{{ > Template.dynamic template=main }}
	</main>
</template>
