<template name="chat">
	<div id="chat" class="bg-g p-0 m-0  vh-100 align-items-start flex-column
	bd-highlight chat" >
           {{#if Template.subscriptionsReady}}
		   {{> messagesList}}
	   {{else}}
		   <p>Loading...</p>1
	   {{/if}}
	</div>
	<button class="show-button chat-button hide text-center rounded-lg"  id="show-button" type="button" data-toggle="tooltip"
	    data-placement="left" title="Masquer" onClick="hide_chat();"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
</template>

<!-- All MSG template -->
<template name="messagesList">
	<div class="w-100 border-bottom-gray">
	    <button class="hide-button chat-button rounded-lg" type="button" data-toggle="tooltip"
	    data-placement="left" title="Masquer" onClick="hide_chat();"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
	    <div class="w-100 mb-auto text-center" style="height: 50px">
		<h2 class="m-0 p-0 h-100" style="padding-bottom: 7px !important; padding-top: 7px !important; overflow: hidden !important; max-width: 250px;margin-left: 45px !important;" >{{roomName}}</h2>
	    </div>
	    <button class="user-button chat-button rounded-lg" type="button" data-toggle="tooltip"
	    data-placement="left" title="Liste des joueurs"><i class="fa fa-users" aria-hidden="true"></i></button>
	</div>
	<div class="border-bottom-gray p-2 pb-3 pl-3 pr-3 m-0 mh-100 h-100 w-100 d-flex-d  flex-wrap overflow-auto">
		{{#each messages}}
			{{> messageRow}}	
		{{/each}}
	</div>
	<form class="m-0 d-block input-group p-1 pt-3 w-100 sendMsg">
		<div class="input-group mb-3 input-group-sm">
		    <input class="form-control" type="text" name="text" placeholder="Send message">
			<div class="input-group-prepend">
			  <button class="btn"  type="submit" >Send</button>
			</div>
		</div>
	</form>
        <script>
	    //Script pour afficher ou masquer le Tchat
	    var hidden = false;
	    function hide_chat() {
		hidden = !hidden;
		if(hidden) {
		    document.getElementById('chat').style.display = 'none';
		    document.getElementById('show-button').style.display = 'inline-block';
		} else {
		   document.getElementById('chat').style.display = 'flex';
		    document.getElementById('show-button').style.display = 'none';
		}
	    }
		//toolsTips
		$(function () {
		    $('[data-toggle="tooltip"]').tooltip()
	        })
        </script>
</template>
<!-- One MSG template-->
<template name="messageRow">
			<div class="text-break msg p-1 w-100" onClick="this.classList.toggle('time-hidding');">
				<span class="text-primary">{{user}}</span>: {{message}}
				<div class="time-hidden">
				    <p class="text-right m-0 p-0"><span class="text-right text-muted msg_time">{{dateFromNow
				createdAt}}</span></p>
				</div>
			</div>
</template>
