<template name="join">
	<div class="container vh-100">
	    <h2 class="text-center pt-10 m-0" style="padding-top:30px!important; height:100px; min-height: 100px; max-height: 100px;" >Rejoindre un salon</h2>
	    <div class="row h-100" style="height: calc(100vh - 100px)!important">
            <div class="d-flex col text-center">
                <div class="m-auto overflow-auto mh-100">
                    
					<div class="div-center d-flex">
						<button width="250px" height="70px" id="btnjoin" class="btn-spin">
							<svg width="250px" height="70px" viewBox="0 0 250 70" class="svg-spin border-spin">
								<polyline points="249,1 249,69 1,69 1,1 249,1" class="bg-line" />
								<polyline points="249,1 249,69 1,69 1,1 249,1" class="hl-line" />
							</svg>
							<span>Rejoindre un salon</span>
						</button>
					</div>
    
                </div>
                <div id="join" class="hide m-0 p-0 w-100" style="height: calc(100vh - 100px);">{{> joinRoom}}</div>
            </div>
            
            <div class="d-flex col text-center">
                <div class="m-auto">
                <div class="div-center d-flex">
                    <button width="250px" height="70px" id="btncreate" class="btn-spin">
                        <svg width="250px" height="70px" viewBox="0 0 250 70" class="svg-spin border-spin">
                            <polyline points="249,1 249,69 1,69 1,1 249,1" class="bg-line" />
                            <polyline points="249,1 249,69 1,69 1,1 249,1" class="hl-line" />
                        </svg>
                        <span>Créer un salon</span>
                    </button>
                </div>
                
                
                <div id="create" class="hide">{{> createRoom}}</div>
                </div>
            </div>
	    </div>
	</div>
	<span class="" style="position: absolute;right:10px;bottom: 10px;">Login: {{pseudo}}</span>

</template>
