<template name="role">
<!--
    <div id="myPopup" class="popup">
	     <div class="popup-content">
	    <div class="popup-header">
	<h2>Choix de role :</h2>
      </div>
      <div class="popup-body">
       Voulez vous vraiment prendre ce role?
	    <center><button class="btn btn-secondary" id="yes">Oui</button>
	    <button class="btn btn-secondary" id="no">Non</button></center>
      </div>
	    </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
-->

<div class="p-0 w-100 vh-100 ">
    <h2 class="text-center pt-10 m-0" style="padding-top:30px!important; height:100px; min-height: 100px; max-height: 100px;" >Choix du personnage</h2>
    <div style="height: calc(100vh - 100px)!important" class="p-0 w-100 d-flex container" >
        <div  class=" w-100 m-auto overflow-auto mh-100">
            <div class="row m-0 w-100 row-lg-1">
                <div class="role1 m-auto hand card border-primary mb-3 bg-transparent" style="background-color: rgba(0,0,0,0.2) !important; width: 40%; max-width: 600px; margin-bottom: 3% !important;" >
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img style="object-fit: cover;" src="https://zupimages.net/up/20/15/q3nt.png" class="card-img w-100 h-100 " alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Le mafieux</h5>
                                <p class="card-text">Gentil ou méchant mafieux? Le choix est votre. </p>
                                <p class="card-text"><small class="text-muted">Joué par : </small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role2 m-auto hand card border-primary mb-3 bg-transparent" style="background-color: rgba(0,0,0,0.2) !important; width: 40%; max-width: 600px; margin-bottom: 3% !important;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img style="object-fit: cover;" src="https://zupimages.net/up/20/15/ygcu.png" class="w-100 h-100 card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">L'endetté</h5>
                                <p class="card-text">Eponger ses dettes ne sera pas une tâche facile.</p>
                                <p class="card-text"><small class="text-muted">Joué par :</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
           
        </div>
    </div>
</div>
<!--
<div class="carousel-inner">
      <div id="s1" class="carousel-item active">
        <img src="https://www.la-viande.fr/sites/default/files/inline-images/hamburger.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
        </div>
      </div>
    </div>

</div>
-->
</template>

