<template name="joinRoom">
	{{> roomsList}}
</template>

<template name="roomsList">
	<div style="scrollbar-width: thin; height: 90%" class=" overflow-auto"> 
	   <!-- <table class="table table-dark text-break">
		<thead>
		<tr>
		    <th>Private</th>
		    <th>Nom</th>
		</tr>
		</thead>
		<tbody>-->

	    <div class="">
			{{#each roomsList}}
				{{> roomListRow}}
			{{/each}}
		</div>



	<!--	</tbody>
	    </table>-->
	</div>
</template>

<template name="roomListRow">
	<div  class="hand card border-primary mb-3 bg-transparent" style=" width: 90%; max-width: 90%; margin:5%;" onclick="window.location='/role/{{_id}}';">
		<div style="background-color: rgba(0,0,0,0.6) !important;" class="text-left card-header bg-transparent ">
			<span style="line-height: 1.25em; height: calc(1.25em + 10px); overflow: hidden; line-break: anywhere; max-width: 85%; padding: 10px; overflow: hidden;" class="d-block">{{name}}</span>
			<div style="position: absolute; top: 0px; right: 10px;" class="w-100 text-right d-inline-block">
				{{#if isLibre choixrole}}
					<i style="font-size: 40px;margin-top:7px" class="fa fa-users"></i>
				{{else if isAleatoire choixrole}}
					<i style="font-size: 40px;margin-top:7px" class="fa fa-dice"></i>
				{{else if isProprietaire choixrole}}
					<i style="font-size: 40px;margin-top:7px" class="fa fa-user"></i>
				{{/if}}
			</div>
		</div>
		
		<div style="background-color: rgba(0,0,0,0.2) !important;" class="card-body text-primary">
		  <h5 class="card-title">Joueurs :
		  	{{#each users}}
				{{userName}},
			{{/each}}
		  </h5>
		</div>
	</div>
	
	<!--<tr class="hand" onclick="window.location='/role/{{_id}}'">
	    <th>{{private}}</th>
	    <th>{{name}}</th>
	</tr>-->
</template>
