<template name="createRoom">
	<body id="room-form">
		<form action="" method="post" class="createRoom">
			<div class="form-group">
				<input style="width: 300px; height: 50px;" class="b-0 text-box" type="text" name="name" placeholder="Entrer le nom de la salle">
				<div style="margin-bottom: 0px;" class="custom-control custom-switch text-right">
					<input style="width: " name="private" type="checkbox" class="custom-control-input" id="customSwitch1" value="private">
					<label class="custom-control-label" for="customSwitch1">Salon privé</label>
				 </div>
				
			</div>
			<p>Systéme de choix de rôle :</p>
			<div style="margin-bottom: 30px" class="p-0 form-check">
				<div value="libre" class="radio-button radio-button-selected">
					<!--<input type="radio" name="role" value="free">-->
					<i style="font-size: 40px;margin-top:10px" class="fa fa-users"></i>
					<label style="color: #fff;" class="m-0">Libre</label>
				</div>
				<div value="aleatoire" class="radio-button">
					<!--<input type="radio" name="role" value="random">-->
					<i style="font-size: 40px;margin-top:10px" class="fa fa-dice"></i>
					<label style="color: #fff;"> Aléatoire </label>
				</div>
				<div value="proprietaire" class="radio-button">
					<!--<input type="radio" name="role" value="owner">-->
					<i style="font-size: 40px;margin-top:10px" class="fa fa-user"></i>
					<label style="color: #fff;"> Propriétaire</label>
				</div>

			</div>
			
			
			<div class="text-center box-1">
				<button name="submit" style="width: 300px; height: 50px; " class="btn-classic btn-one">
					<span>Créer !</span>
				</button>
			</div>
		</form>
	</body>
</template>
