<template name="videoOwner">
	<div class="vh-100 pl-0 flex-fill pr-0">
		{{#if Template.subscriptionsReady}}
			{{> videoPlayer}}
		{{else}}
			<p>Loading...</p>
		{{/if}}
	</div>
</template>

<template name="videoPlayer">
	<div id="div-player" class="player-sans-choix flex-fill">
	    <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="uMkozeKP7EM"></div>
	</div>
	<div id="choix" class="hide">
		<div class="progress m-0 p-0 w-100" style="background-color: #3a3a3d !important; background-image: none !important; height: 3px;">
			<div class="progress-bar" style="width: 100%;color:#3a3a3d !important" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<div class="p-0 m-0 button-container d-flex ">
			<div class="w-100 p-0 m-0 row">
				
				
				<div class="button-border col" style="border-left: 0px solid #fff">
					<button id="rep1" class="text-white button-choix col">{{rep1}}</button>
				</div>
				{{#if rep2}}
					<div class="button-border col" >
						<button id="rep2" class="text-white button-choix ">{{rep2}}</button>
					</div>
				{{/if}}
				{{#if rep3}}
					<div class="button-border col">
						<button id="rep3" class="text-white button-choix">{{rep3}}</button>
					</div>
				{{/if}}
				{{#if rep4}}
					<div class="button-border col">
						<button id="rep4" class="text-white button-choix">{{rep4}}</button>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="hide">
		<p>playing : {{playing}}</p>
		{{#if isOwner}}
			<p>ADMIN !</p>
		{{/if}}
	</div>
</template>
